@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Manrope", sans-serif;
  --color-on-tertiary-fixed: #001e2b;
  --color-surface-container-lowest: #ffffff;
  --color-on-secondary-container: #940100;
  --color-on-primary: #f1f2ff;
  --color-on-primary-fixed-variant: #00286a;
  --color-tertiary-container: #00c1fd;
  --color-primary-container: #779dff;
  --color-on-primary-fixed: #000000;
  --color-outline: #747779;
  --color-surface-dim: #d0d5d8;
  --color-on-surface-variant: #595c5e;
  --color-tertiary-fixed-dim: #00b2eb;
  --color-on-secondary: #ffefed;
  --color-surface-container-low: #eef1f3;
  --color-on-surface: #2c2f31;
  --color-secondary-container: #ffc4ba;
  --color-secondary: #bb0100;
  --color-primary-dim: #0048b3;
  --color-tertiary-fixed: #00c1fd;
  --color-primary-fixed-dim: #608fff;
  --color-surface-container-highest: #d9dde0;
  --color-error-container: #fb5151;
  --color-tertiary: #006384;
  --color-surface-container: #e5e9eb;
  --color-inverse-primary: #5b8cff;
  --color-on-secondary-fixed: #700000;
  --color-surface: #f5f7f9;
  --color-on-primary-container: #001f56;
  --color-on-error: #ffefee;
  --color-surface-variant: #d9dde0;
  --color-surface-container-high: #dfe3e6;
  --color-error: #b31b25;
  --color-on-tertiary-fixed-variant: #004157;
  --color-tertiary-dim: #005673;
  --color-inverse-on-surface: #9a9d9f;
  --color-on-error-container: #570008;
  --color-surface-tint: #0053cc;
  --color-surface-bright: #f5f7f9;
  --color-on-tertiary: #e6f5ff;
  --color-on-tertiary-container: #00374b;
  --color-outline-variant: #abadaf;
  --color-on-background: #2c2f31;
  --color-on-secondary-fixed-variant: #a60100;
  --color-inverse-surface: #0b0f10;
  --color-secondary-fixed: #ffc4ba;
  --color-secondary-fixed-dim: #ffb0a3;
  --color-background: #f5f7f9;
  --color-primary: #0053cc;
  --color-primary-fixed: #779dff;
  --color-error-dim: #9f0519;
  --color-secondary-dim: #a40100;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.glass-panel {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.liquid-gradient-primary {
  background: linear-gradient(135deg, #0053cc 0%, #779dff 100%);
}

.liquid-gradient-secondary {
  background: linear-gradient(135deg, #bb0100 0%, #ffc4ba 100%);
}

body {
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
.font-headline {
  font-family: "Plus Jakarta Sans", sans-serif;
}
